<h4> Internel server error - refersh the app</h4>
<ng-container *ngIf="error">

    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Angular not plame </p>
    <p>what next?</p>
    <ol>
        <li>open chrome</li>
        <li>Inspect the error tab</li>
        <li>check the request </li>
        <li>Exaim the request URL</li>
        <li>Postman</li>
    </ol>
    <p>Following is the stack trace </p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
</ng-container>